<div class="list-container">
  <!-- Header Section -->
  <div class="list-header">
    <h2>{{ listHeader }}</h2>
  </div>
  <table>
    <tr>
      <td>FirstName</td>
      <td>LastName</td>
      -
      <td>Desgination</td>
    </tr>
  </table>
  <!-- List/Array Content -->
  <ul class="list-body">
    @for (user of users; track user.id) {
      <li class="list-item">
        <strong>{{ user.name }}</strong> - <em>{{ user.role }}</em>
      </li>
    } @empty {
      <li>No users found.</li>
    }
  </ul>
</div>

<div class="list-container">
  <!-- The Header -->
  <div class="list-header">
    <h2>{{ headerTitle }}</h2>
  </div>
  <table>
    <tr>
      <td>FirstName</td>
      <td>LastName</td>
      
      <td>Desgination</td>
    </tr>
  </table>
  <!-- The Array List -->
  <ul class="list-body">
    @for (user of users2; track user.id) {
      <li class="list-item">
        <div class="user-info">
          <table>
            <tr>
              <td>
                <img [src]="imageUrl" width ="100px" />
              </td>
              <td>
                   <strong>{{ user.name }}</strong>
              </td>
              <td>
                <span class="user-role">{{ user.role }}</span>
              </td>
            </tr>
          </table>
       
          
        </div>
      </li>
    } @empty {
      <li class="empty-state">No users found.</li>
    }
  </ul>
</div>

<div>
  <!-- Input box to add a new item -->
  <input #itemInput type="text" placeholder="Enter item name" />
  <button (click)="addItem(itemInput.value); itemInput.value=''">Add Item</button>

  <!-- List displaying items with individual remove buttons -->
  <ul>
    @for (item of items; track $index) {
      <li>        
        {{ item }} 
        <button (click)="removeItem($index)">Remove</button>
      </li>
    }
  </ul>
</div>